* {
	box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/* Keeps footer down to bottom */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Makes sure content isn't blocked by the footer */
.main-content {
	padding-bottom: 10em;
}

.blog-list {
	list-style-type: none;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px #343a40 solid;
}

.blog-list:last-child {
  border-bottom: none;
}

.post img {
  max-width: 1000px;
}

.thumb-nail {
  width: 30%;
  border-radius: 15px 50px 30px 5px;
  padding-bottom: 30px;
}

figcaption {
  padding-left: 30%;
  text-decoration: underline;
}

.background {
  background-image: url('https://media.gettyimages.com/photos/cleveland-skyline-picture-id547122958?s=2048x2048');
  background-position: 80% 20%;
  background-repeat: no-repeat;
  border-radius: 0%;
}

.foot-text {
  font-size: 1.0em;
}

.icons p {
  font-size: 1.7em;
}

.portfolio {
  height: 20em;
}

.footer-link {
  text-decoration: none;
  color: inherit
}

.pag {
  margin: auto;
  padding-top: 20px;
}

#dotNetCore {
  width: 43%;
}

@media only screen and (max-width: 1220px) {
  .post img {
    width: 50vw;
  }

  .portfolio {
    height: 15em;
  }
}

@media only screen and (min-width: 1200px) {
  #title {
    margin-left: 0%;
  }
}

@media screen and  (max-width: 995px) {
  #dotNetCore {
    width: 90%;
  }
}

@media screen and  (max-width: 575px) {
  #dotNetCore {
    width: 20%;
  }
}


@media screen and  (max-width: 420px) {
  #dotNetCore {
    width: 25%;
  }
}